<app-container>
    <section class="conteudo-home">
            <app-banner src="../assets/img/banner-home.png" alt="banner com uma interrocacao no meio" class="img-home"></app-banner>
        <div class="form-sala">
            <h2><b>SILENT POLL</b></h2>
            <div class="entrar-codigo">
                <label>Acessar como participante</label> <br>
                <input type="text" placeholder="Entre com o código aqui" > 
                <app-button typeBtn="primary" textBtn="Entrar"></app-button>
            </div>
            <app-button widthBtn='200' id="segundo-botao" typeBtn="secondary" textBtn="CRIAR NOVA SALA"></app-button>
            <b>A maneira mais fácil de tornar suas reuniões interativas</b>
        </div>
    </section>
</app-container>