.container{
    display: flex;
    justify-content: space-around;
    background-color: var(--grey-100);
    border-radius: var(--borderr-20);
} 
.divBanner{
    width: 50%;
    height: 100%;
    border-radius: 10px 40px 40px 10px;
}

/* .banner{
    width: 50%;
    height: 100%;
    border-radius: 10px 40px 40px 10px;;
} */

.button-home{
    width: 200px;
}&.primary{
    background-color: var(--blue-800);
}

.form-sala{
    background-color: var(--grey-100);
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
}

button [typeBtn="primary"]{
    background-color: red;
    border: 1px solid;
}
button [typeBtn="secondary"]{
    background-color: blue;
    border: 1px solid;
}