.conteudo-home{
    display: flex;
    align-items: center;
    width: 769px;
    background-color: var(--grey-100);
    border-radius: var(--borderr-20);
} 

.conteudo-home img{
    width: 50%;
    height: auto;
    border-radius: 10px 40px 40px 10px;;
} 

.form-sala{
    background-color: var(--grey-100);
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    
}

.form-sala h2{
    padding: 0;
}

.entrar-codigo {
    padding: 50px;
}

#segundo-botao{
    padding: 50px;
}

.secondary{
    background-color: var(--blue-800);
    color: rgb(253, 236, 236);
    border: 1px solid;
}
