<div class="container">
    <div class="divTituloSilentPoll">
        <h1 class="tituloSilentPoll">SILENT P O L L</h1>
    </div>
    <section class="sectionSalaPerguntas">
        <div class="divAdmin">
            <div class="informacoesSala" *ngFor="let dado of dados">
                <ul>
                    <li class="listaInformacoesSala">Nome da sala: <strong>{{dado.name}}</strong></li>
                    <li class="listaInformacoesSala">Código da sala: <strong>{{dado.code}}</strong></li>
                    <!-- <li class="listaInformacoesSala">Participantes: {{dado.participants}}</li>
                    <li class="listaInformacoesSala">Tempo restante: {{dado.timeLeft}}</li> -->
                </ul>
            </div>
            <div class="divBotao">
                <app-button typeBtn="primary" textBtn="Sair da sala" onclick="encerrarSala()"
                    routerLink="/"></app-button>
            </div>
        </div>
        <div class="divAdminMobile">
            <div class="informacoesSala" *ngFor="let dado of dados">
                <div class="info-btn">
                    <ul>
                        <li class="listaInformacoesSala">Nome da sala: <strong>{{dado.name}}</strong></li>
                        <li class="listaInformacoesSala">Código da sala: <strong>{{dado.code}}</strong></li>
                        <!-- <li class="listaInformacoesSala">Participantes: {{dado.participants}}</li>
                    <li class="listaInformacoesSala">Tempo restante: {{dado.timeLeft}}</li> -->
                    </ul>
                    <div class="divBotao">
                        <app-button typeBtn="primary" textBtn="Sair da sala" onclick="encerrarSala()"
                            routerLink="/"></app-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="divPerguntas">
            <p class="textoInfo">Digite sua pergunta</p>
            <div class="divInserirPergunta">

                <input type="text" maxlength="10" placeholder="Categoria" class="inputCategoria"
                    [(ngModel)]="categoria">
                <input type="text" maxlength="250" placeholder="Sua pergunta aqui" class="inputPergunta"
                    [(ngModel)]="pergunta">

            </div>
            <div class="enviar-btn">
                <app-button typeBtn="primary" textBtn="Enviar" (click)="inserirPergunta()"
                    class="botaoEnviar"></app-button>
            </div>
            <p class="textoInfo">Últimas perguntas</p>
            <ng-container *ngFor="let question of questions">
                <app-card-pergunta [questions]="questions" [question]="question" (likeClicked)="like($event)"></app-card-pergunta>
            </ng-container>
        </div>
    </section>
</div>