<div class="divTituloSilentPoll">
    <h1 class="tituloSilentPoll">SILENT POLL</h1>
</div>
<app-container>
    <section class="sectionSalaPerguntas">
        <div class="divAdmin">
            <div class="informacoesSala">
                <ul>
                    <li class="listaInformacoesSala">Nome da sala: <strong>Status Geral</strong></li>
                    <li class="listaInformacoesSala">Código da sala: <strong>#562162</strong></li>
                    <li class="listaInformacoesSala">Participantes: 38</li>
                    <li class="listaInformacoesSala">Tempo restante: 1h 27min</li>
                </ul>
            </div>
        </div>

        
        <div class="divPerguntas">
            <p class="textoInfo">Digite sua pergunta</p>
            <app-container-pergunta class="divInserirPergunta">
                
                    <input type="text" placeholder="Categoria" class="inputCategoria">
                    <input type="text" placeholder="Sua pergunta aqui" class="inputPergunta">
                
            </app-container-pergunta>
            <app-button typeBtn="primary" textBtn="Enviar" onclick="" class="botaoEnviar"></app-button>
            <p class="textoInfo">Últimas perguntas</p>
            <app-container-pergunta class="divPergunta">
                    <div class="divP1">
                <p>Categoria: financeiro</p>
                <p>perguntaperguntapergunta</p>
            </div>
            <div class="divIcones">
                <mat-icon fontIcon="thumb_up"></mat-icon>
                <p>0</p>
            </div></app-container-pergunta>
            <app-container-pergunta class="divPergunta">    
                <div class="divP1">
                <p>Categoria: financeiro</p>
                <p>perguntaperguntapergunta</p>
            </div>
            <div class="divIcones">
                <mat-icon fontIcon="thumb_up"></mat-icon>
                <p>1</p>
            </div></app-container-pergunta>
            <app-container-pergunta class="divPergunta">   
                 <div class="divP1">
                <p>Categoria: financeiro</p>
                <p>perguntaperguntapergunta</p>
            </div>
            <div class="divIcones">
                <mat-icon fontIcon="thumb_up"></mat-icon>
                <p>2
                </p>
            </div></app-container-pergunta>
            <app-container-pergunta class="divPergunta">    
                <div class="divP1">
                <p>Categoria: financeiro</p>
                <p>perguntaperguntapergunta</p>
            </div>
            <div class="divIcones">
                <mat-icon fontIcon="thumb_up"></mat-icon>
                <p>3</p>
            </div></app-container-pergunta>
        </div>
    </section>
    </app-container>