.container-card{
    padding: 50px;
}

.card {
    width: 500px;
    height: 300px;
    padding: 45px;
    background-color: #FAF7F0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    line-height: 24px;
}

.icon{
    width: 50px;
    height: 50px;
}