
<app-container-info [titulo]="'A facilidade para deixar suas reuniões interativas'"
    [descricao]="'Estimule seus colaboradores a participarem com perguntas anônimas ou não durante a reunião'">
</app-container-info>
<app-button widthBtn='220' typeBtn="tertiary" textBtn="Comece agora" (click)="openDialog()"></app-button>
<app-imagem src="../../../assets/img/imgsEXs.png" alt="Imagem exemplo tela de perguntas"></app-imagem>
<app-container-info [corFundo]="'#FAF7F0'" [titulo]="'Gerencie as perguntas em tempo real'">
</app-container-info>
<app-container-info [titulo]="'O meio mais simples de incluir todos nas reuniões'"
    [descricao]="'O V8Poll oferece o que você precisa para envolver seus participantes, capturar suas opiniões sinceras e fazer com que todos se sintam conectados'">
</app-container-info>
<section>
    <app-card src="../../../../../assets/img/heartIcon.png" alt="" type="icon" [titulo]="'Fácil de usar'"
        [descricao]="'Sem precisar de login, crie suas salas e convide seus participantes'">
    </app-card>
    <app-card src="../../../../../assets/img/listIcon.png" alt="" type="icon" [titulo]="'Gestão simplificada'"
        [descricao]="'Fácil gestão das perguntas enviadas, categorização e filtro de palavras ofensivas'">
    </app-card>
    <app-card src="../../../../../assets/img/gitfIcon.png" alt="" type="icon" [titulo]="'Fácil exportação'"
        [descricao]="'Exporte facilmente as questões e análises da sua sala'">
    </app-card>
</section>
<app-footer></app-footer>