<section class="modal">
    <div class="container-popout">
        <h1>Quanto tempo você usará a sala?</h1>
            <div class="inicioFim">
                <div class="inicio">
                    <span>Início</span>
                    <input type="date" class="inputData" id="dataInicio">
                </div>
                <div class="fim">
                    <span>Fim</span>
                    <input type="date" class="inputData" id="dataFim">

                </div>
            </div>
            <div class="nomeSala">
            <span>Qual o nome da sala?</span>
            <input type="text" placeholder="Nome da sala" [(ngModel)]="nomeSala">
        </div>
        <div class="botoes-popout">
            <div class="divModalInfo">
                <span><img src="../../../assets/img/SVG.png" alt="" class=""> Qualquer um com o link pode participar</span>
            </div>
            <div>
            <app-button typeBtn="cancelar"  textBtn="Cancelar" mat-dialog-close></app-button>
            <app-button typeBtn="tertiary" textBtn="Criar sala" (click)="CriarSala()" widthBtn='110' mat-dialog-close></app-button>
            </div>
        </div>
    </div>
</section>