.modal {
    display: flex;
    width: 600px;
    height: 330px;
    /* border-radius: 8px; */
}

.container-popout{
    width: 100%;
    padding: 32px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.botoes-popout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inicioFim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inicio, .fim{
    display: flex;
    flex-direction: column;
}

.inputData{
    width: 258px;
    height: 44px;
    border-radius: var(--borderr);
    border: 1px solid #CBD5E1;
    outline: none;
    background-color: white;
    padding: 20px;
    margin-top: 5px;
}
h1{
    font-size: 16px;
    font-weight: bold;
}

.nomeSala{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.nomeSala input{
    width: 536px;
    height: 44px;
    border-radius: var(--borderr);
    border: 1px solid #CBD5E1;
    outline: none;
    background-color: white;
    padding: 20px;
    margin-top: 5px;
}

.divModalInfo{
    display: flex;
    width: 340px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #E5EFFF;
    border: 1px solid #0F62FE;
    border-radius: var(--borderr);
}

img{
    width: 13px;
    height: 13px;
}

@media screen and (max-width: 1025px) {

    .modal{
        width: 300px;
        height: 400px;
    }

}



