<section class="sec1">
    <div class="divEntrarParticipante">
        <span>Entrar como participante</span>
        <div class="divInserirCodigo">
            <img src="../../../assets/img/tag.png" alt="Imagem de tag" class="tag">
            <input type="text" class="inputCodigo" placeholder="Código aqui">
            <button class="botaoEntrar">
                <img src="../../../assets/img/arrow.png" alt="Imagem de seta" class="arrow">
            </button>
        </div>
    </div>
    <div class="text-info">
        <h2>{{ titulo }}</h2>
        <h3>{{ descricao }}</h3>
    </div>
</section>

