<app-container>
    <div class="divTituloSilentPoll">
        <h1 class="tituloSilentPoll">SILENT POLL</h1>
    </div>
    <section class="sectionSalaPerguntas">
        <div class="divAdmin">
            <h1 class="tituloAdmin">Você está como moderador</h1>

            <div class="informacoesSala" *ngFor = "let dado of dados">
                <ul>
                    <li class="listaInformacoesSala">Nome da sala: <strong>{{dado.name}}</strong></li>
                    <li class="listaInformacoesSala">Código da sala: <strong>{{dado.code}}</strong></li>
                    <!-- <li class="listaInformacoesSala">Participantes: {{dado.participants}}</li>
                    <li class="listaInformacoesSala">Tempo restante: {{dado.timeLeft}}</li> -->
                </ul>
            </div>
            <div class="divBotao">
                <app-button typeBtn="primary" textBtn="Encerrar sala" onclick="encerrarSala()"
                    routerLink="/"></app-button>
            </div>
        </div>
        <div class="divPerguntas">
            <app-container-pergunta class="divPergunta" *ngFor = "let question of questions" >
                <div class="divP1">
                    <p>Categoria: {{question.category}}</p>
                    <p>{{question.question}}</p>
                </div>
                <div class="divIcones">
                    <div class="divIconeNumero">
                        <mat-icon fontIcon="thumb_up"></mat-icon>
                        <p>{{question.vote}}</p>
                    </div>
                    <app-menu></app-menu>
                </div>
            </app-container-pergunta>
        </div>
    </section>
</app-container>