<header>
<app-header typeHeader="primary">
    <nav class="navbar">
        <ul class="ulHeader">
        <li><h1 class="tituloHeader">V8 Poll</h1></li>
        <li><app-button widthBtn='100' typeBtn="tertiary" textBtn="Nova Sala"></app-button></li>
        </ul>
    </nav>
</app-header>
</header>
<section class="sec1">
    <div class="divEntrarParticipante">
        <span>Entrar como participante</span>
        <div class="divInserirCodigo">
            <img src="../../../assets/img/tag.png" alt="Imagem de tag" class="tag">
            <input type="text" class="inputCodigo" placeholder="Código aqui">
            <button class="botaoEntrar">
                <img src="../../../assets/img/arrow.png" alt="Imagem de seta" class="arrow">
            </button>
        </div>
    </div>
    <div>
        <h1>Slsamfdksnosa</h1>
    </div>
</section>

