<app-header typeHeader="primary">
    <nav class="navbar">
        <ul class="ulHeader">
            <li>
                <h1 class="tituloHeader">V8 Poll</h1>
            </li>
            <li><app-button widthBtn='100' typeBtn="tertiary" textBtn="Nova Sala"></app-button></li>
        </ul>
    </nav>
</app-header>

<app-container-info [titulo]="'A facilidade para deixar suas reuniões interativas'"
    [descricao]="'Estimule seus colaboradores a participarem com perguntas anônimas ou não durante a reunião'">
</app-container-info>
